# ==========================================
# 1. Thư mục cài đặt thư viện (BẮT BUỘC BỎ QUA)
# ==========================================
node_modules/
/dist/
/.angular/

# ==========================================
# 2. Log và file rác sinh ra trong quá trình chạy
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs
*.log

# ==========================================
# 3. File cấu hình cá nhân hoặc bảo mật
# ==========================================
.env
.env.local
.env.*.local

# ==========================================
# 4. File rác của hệ điều hành (Windows/Mac)
# ==========================================
Thumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride

# ==========================================
# 5. File cấu hình của các IDE / Editor (VS Code, WebStorm)
# ==========================================
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?